@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 1.6rem;
}

header>section>div,
main>section>div,
footer>section>div {
	max-width: 480px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

/* tipografia e diagramação */
h1 {
	margin: 2rem auto 0 auto;
	font-size: 2.4rem;
	font-weight: normal;
	line-height: 1.1;
}

h1::after {
	content: url(media/verificado.webp);
	margin-left: 6px;
}

h2 {
	margin: 2rem 0 2rem 0;
	font-size: 2.6rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.1;
}

h3 {
	margin: 4rem 0 2rem 0;
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 1.1;
}

h4 {
	margin: 2rem 0 1rem 0;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.1;
}

p {
	margin: 1.6rem 0;
	line-height: 1.1;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

hr {
	margin: 4rem 0 0 0;
	border: 1px dashed #CCCCCC;
}

ul {
	font-size: 1.6rem;
}

/* "atalhos" */
.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.tcenter {
	text-align: center !important;
}

.d-flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.d-flex_column {
	display: flex;
	flex-direction: column;
}

/* bg colors */
.bg-light_gray {
	background-color: #f7f7f7;
}

.bg-light_blue {
	background-color: #E9F4FF;
}

.bg-blue {
	color: #ffffff;
	background-color: #0033c6;
}

/* ====== header ====== */


header .bg-pink>div {
	padding: 1.2rem;
}

header span {
	font-size: 1.4rem;
}

.announcement {
	border-bottom: 4px solid #e71a3b;
	;
}

.announcement>div {
	padding: 1rem !important;
}

/* ====== main ====== */
/* product-infos */

.imagem-container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
}

#minha-imagem {
    width: 70%; /* Reduzindo um pouco a largura da imagem para dar espaço aos indicadores */
    height: 100%;
    object-fit: cover;
}

.indicadores {
    display: flex;
    flex-direction: column; /* Coloca os indicadores verticalmente */
    justify-content: center; /* Centraliza os indicadores verticalmente */
}

.indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0031c650;
    margin: 2px 5px;
    cursor: pointer;
}

.indicador.ativo {
    background-color: #0033c6;
}

.seta {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: #0033c6;
    cursor: pointer;
    transform: translateY(-50%);
}

.seta-esquerda {
    left: 60px;
}

.seta-direita {
    right: 20px;
}

.top-stars {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 0.5rem 0 2rem 0;
}

.top-stars img {
	margin: 0 1rem 0 0;
	height: 16px;
	width: 87px;
}

.top-stars p {
	margin: 0;
}

.top-stars b {
	font-weight: 500;
}

.product-infos img {
	border-radius: 15px;
}

.product-infos .price-before {
	font-size: 1.4rem;
	margin-bottom: 0.4rem;
	color: #666666;
}

.price-before s {
	font-size: 1.6rem;
}

.timer-text {
	color: #000000;
	font-size: 1.4rem;
}

.timer {
	color: #e71a3b;
}

.price-before .price-down {
	margin-left: 0.5rem;
	padding: 0.5rem;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 500;
}

.product-infos .price-after {
	font-size: 1.4rem;
}

.price-after b {
	font-size: 1.6rem;
	color: #1ca700;
}

.parcelment {
	font-size: 1.4rem;
}

.product-infos .alert {
	margin-right: 1.2rem;
	color: #e71a3b;
}

.product-infos .alert p {
	margin-left: 6px;
	text-align: left;
}

.shipping-info {
  padding: 1rem 0.5rem;
  border-radius: 5px;
  color: #0033c6;
  background-color: #E9F4FF;
}

.shipping-info > div {
  justify-content: space-around;
  font-size: 1.2rem;
}
.shipping-info img {
  width: 50px;
  margin: 0 !important;
}

/* parcelamento */

.parcelamento {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 1.5rem;

	font-size: 1.6rem;
	font-weight: 500;
	color: #0033c6;
	background-color: #f7f7f7;
}

.parcelamento svg {
	margin-right: 1rem;
	width: 32px;
	height: 32px;
}

.parcelamento p {
	font-size: 1.4rem;
	font-weight: 400;
	color: #000000;
}

.product-infos .extra-infos {
	margin: 2rem 0;
	font-size: 1.4rem;
}

.product-infos .extra-infos .d-flex_row {
	align-items: flex-start !important;
}

.product-infos .extra-infos figure {
	margin: 0 4px 0 0;
}

.product-infos .extra-infos figure svg {
	fill: #0033c6;
}

.product-infos .btn-buy {
	justify-content: center;
	margin: 2rem auto;
	padding: 1rem;
	font-size: 2.2rem;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #1ca700;
	border-radius: 10px;
}

.product-infos .btn-buy img {
	margin: 0 6px 0 0;
	border-radius: 0;
}

/* product-description */

section.product-description img {
	margin: 0 auto;
}

/* client-reviews */

.client-reviews h2 {
	text-align: left;
	font-weight: 500;
	color: #0033c6;
}

.reviews-resume {
	margin-bottom: 2rem;
	font-size: 5rem;
	font-weight: 500;
}

.reviews-resume span {
	margin-left: 1rem;
}

.reviews-resume svg {
	width: 36px;
	height: 36px;
	color: #ce7317;
}

.review {
	margin: 1rem auto;
	padding: 1rem;
	background-color: #f7f7f7;
}

.review svg {
	width: 16px;
	height: 16px;
	color: #ce7317;
}

.review p {
	margin-left: 1rem;
	font-size: 1.2rem;
}

.review img {
	margin-top: 1rem;
}

/* ====== footer ====== */

footer p {
	font-size: 1.6rem;
	font-weight: 500;
}

footer a {
	display: block;
	margin: 2rem 0;
	font-size: 1.4rem;
	text-decoration: none;
	color: #000000;
}

footer h4 {
	color: #0033c6;
	font-weight: 500;
}

footer img {
	margin: 0;
}

footer .conditions {
	display: block;
	margin-top: 4rem;
	font-size: 1.2rem;
}

footer img:first-child {
	margin-right: 12px;
}

footer .payments {
	display: block;
	margin-bottom: 0rem;
	font-size: 1.2rem;
}

footer .payments p {
	margin: 2rem 0 0 0;
}

/* PRESSEL */

body.pressel {
	border-top: 15px solid #e71a3b;
	background-color: #ffffff;
}

body.pressel a {
	display: block;

	margin: 2rem auto;
	padding: 1rem;

	color: #FFFFFF;
	background-color: #0033c6;

	font-weight: 500;
	text-decoration: none;
	text-align: center;

	border-radius: 15px;

	box-shadow: 0px 5px 10px #00000050;
}

body.pressel img {
	border-radius: 15px;
}

body.pressel h1 {
	color: #0033c6;
	font-weight: 600;
}

body.pressel p {
	color: #000000;
}